@model IEnumerable<SchoolCalendar.Models.CalendarModels.School>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacje</h2>
<p>
    @Html.ActionLink("Nowa Placówka", "New", "School", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nie dodano placówki</p>

}
else
{
    <table id="groups" class="table table-bordered">
        <tbody>
            @foreach (var school in Model)
            {
                <tr>
                    <td><h3>@Html.ActionLink(school.Name, "Edit", "School", new { id = school.Id }, null)</h3></td>
                    <td><h3>ul. @school.Street</h3></td>
                    <td><h3>@school.PostCode, @school.City</h3></td>
                    <td><h3>NIP @school.NIP</h3></td>
                </tr>
            }
        </tbody>
    </table>
    @*@foreach (var school in Model)
        {

            @*<h4>@Html.ActionLink("Usuń", "Delete", "School", new { id = school.Id }, new { @class = "btn btn-primary" }) </h4>}*@

}