@model IEnumerable<SchoolCalendar.Models.CalendarModels.Child>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista dzieci</h2>
<p>
    @Html.ActionLink("Nowe Dziecko", "New", "Child", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nie dodano jeszcze żadnego dziecka</p>
}
else
{
    <table id="children" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Imie i nazwisko</th>
                <th style="text-align:center">Niepełnosprawność</th>
                <th style="text-align:center">Numer orzeczenia</th>
                <th style="text-align:center">Numer opinii</th>
                <th style="text-align:center">Placówka</th>
                <th style="text-align:center">Grupa</th>
                <th style="text-align:center">Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var child in Model)
            {
                <tr>
                    <td>@Html.ActionLink(child.Name, "Edit", "Child", new { id = child.Id }, null)</td>
                    <td align="center">@child.Disability</td>
                    <td align="center">@child.DecisionNumber</td>
                    <td align="center">@child.OpinionNumber</td>
                    <td align="center">@child.School.Name</td>
                    <td align="center">@child.Group.GroupName</td>
                    <td align="center">@Html.ActionLink("Usuń", "Delete", "Child", new { id = child.Id }, null)</td>
                    @*<button data-child-id="@child.Id" class="btn-link js-delete">Usuń</button>*@
                </tr>
            }
        </tbody>
    </table>
}
@*@section scripts
    {
        <script>
            $(document).ready(function () {
                $("#children .js-delete").on("click", function () {
                    var button = $(this);
                    bootbox.confirm("Potwierdź operację usówania", function (result) {
                        if (result{
                            $ajax({
                                url: "/child/" + button.attr("data-child-id"),
                                method: "Delete",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    })

                });
            });
        </script>

    }*@